@media print {
button {	visibility: hidden; }
#trash-can {	visibility: hidden; }
}

body {
	font-family: "Reenie Beanie",MV Boli, Comic Sans MS;
	margin: 10px;
	background-color: #FFFFFF;
}


#card-layout-border {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border: 1px solid black;
	background-color: #F0F0F0;
	z-index: -1;
}


#msg-list {
		position: absolute;
		top: 5px;
		right: 10px;
}

div#trash-can {
	position: absolute;
	bottom: 11px;
	left: 11px;
	border: 1px solid #F9F9F9;
	padding: 6px 9px;
	background: url(images/trash.png) no-repeat center;
	width: 40px;
	height: 50px;
}
div#trash-can.trashcan-hover {
	color: green;
	background-image: url(images/trash-action.png);
}

#document-title {
	padding: 6px 9px;
	font-size: 26pt;
	font-family: Arial;
}

#create-card {
	position: absolute;
	right: 13px;
	top: 11px;
	width: 120px;
}
#create-note {
	position: absolute;
	right: 13px;
	top: 55px;
	width: 120px;
}
#create-split {
	position: absolute;
	right: 13px;
	top: 99px;
	width: 120px;
}

.shadow {
  -moz-box-shadow:    3px 3px 3px 1px #999;
  -webkit-box-shadow: 3px 3px 3px 1px #999;
  box-shadow:         3px 3px 3px 1px #999;
}


#card-layout div.highlight {
	-moz-box-shadow:    3px 3px 3px 1px #666;
	-webkit-box-shadow: 3px 3px 3px 1px #666;
	box-shadow:         3px 3px 3px 1px #666;
}

#card-layout div.card {
	border: 1px solid black;
	height: 110px;
	width: 200px;
	position: absolute;
	background-color: white;
	font-family: MV Boli; Comic Sans MS;
	font-size: 20px;
	cursor: default;
}

#card-layout div.line {
	border-top: 1px solid #33a3a3;
	top: 0px;
	left: 0px;
	height: 1px;
	width: 200px;
	position: absolute;
}

#card-layout div.title {
	top: 0px;
	left: 0px;
	width: 200px;
	position: absolute;
	text-align: center;
}
#card-layout div.body {
	top: 25px;
	left: 0px;
	width: 200px;
	position: absolute;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 11px;
}

#card-layout div.note {
	border: 1px solid black;
	background-color: #ffff99;
	width: 150px;
	font-size: 15px;
	font-family: MV Boli; Comic Sans MS;
	padding: 5px;
	text-align: center;
	position: absolute;
	cursor: default;
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
}

#split-layout div {
	position: relative;
	left: 5px;
	right: 15px;
/*	width: 100%;*/
}

#split-layout div.split {
	position: absolute;
}

#split-layout div.upper {
	border-bottom: 3px solid black;
}

#split-layout div.upper, #split-layout div.lower {
	font-family: Arial;
	padding: 3px 6px;
}

textarea, .uiwidget, textarea.uiwidget {
	font-size: 11px;
	width: 100%;
	height: 110px;
	font-family: MV Boli; Comic Sans MS;
}
